<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Afya Imara Categories </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"
          th:href="@{/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/> 
	<link href="resources/static/css/uap-om-styles.css.css"
          th:href="@{/css/uap-om-styles.css.css}" rel="stylesheet" media="screen"/>
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script> -->
</head>
<body>
<h3>Add AfyaImara Categories</h3>
    <form action="#" th:action="@{/easyaAfya/category}" th:object="${easyafyacategory}" method="post">
    	
    	<div><label>Category name </label><input class="form-control" type="text" th:field="*{categoryName}" /></div>
    	
    	<div><label>Description </label>
    		<textarea class="form-control" rows="6"
    			style="margin-top: 10px;"  placeholder="description" th:field="*{description}">
    		</textarea>    		
    	</div>        
               
        <p><input class="btn btn-success" type="submit" value="Submit" /> <input class="btn btn-warning" type="reset" value="Reset" /></p>
    </form>
    
    <p>&nbsp;</p>
    <table class="OM-table">
    	<tr>
    		<th>id</th>
    		<th>AfyaImara Category</th>
    		<th>Description</th>
    		<th>&nbsp;</th>
    	</tr>
    	<tr th:each="category : ${CategoriesList}">
    		<th th:text="${category.easyafya_category_id}"></th>
    		<td th:text="${category.categoryName}"></td>
    		<td th:text="${category.description}"></td>
    		<td><button  type="button" class="btn btn-primary">Modify</button> | <button  type="button" class="btn btn-danger">Delete</button></td>
    	</tr>
    </table>
</body>
</html>