<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add Users</h1>
    <form action="#" th:action="@{/users}" th:object="${users}" method="post">
    	<!-- <p class="field_input">Id: <input type="text" th:field="*{id}" /></p> -->
        <p class="field_input">First Name: <input type="text" th:field="*{fisrtName}" /></p>
        <p class="field_input">Second Name: <input type="text" th:field="*{secondName}" /></p>
        <p class="field_input">Last Name: <input type="text" th:field="*{lastName}" /></p>
        <p class="field_input">User Name: <input type="text" th:field="*{userName}" /></p>
          
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        
        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <hr />
        <table border="1">
        	<tr>
        		<th>First Name</th>
        		<th>Second name</th>
        		<th>Last Name</th>
        		<th>User Name</th>
        	</tr>
        	<tr th:each="user : ${usersList}">
        		<td th:text="${user.fisrtName}"></td>
        		<td th:text="${user.secondName}"></td>
        		<td th:text="${user.lastName}"></td>
        		<td th:text="${user.userName}"></td>
        	</tr>
        </table>
        
    </form>
</body>
</html>